<?xml version="1.0"?>
<model>
  <name>smallboat</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Alberto Quattrini Li</name>
    <email>alberto.quattrini.li@dartmouth.edu</email>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    Modification of the blueboat to make it smaller.
    https://github.com/quattrinili/gazebosim_blueboat_ardupilot_sitl/tree/main/SITL_Models/Gazebo/models/blueboat

    ArduPilot

    Vehicle type:     Rover
    Frame type:       rover-skid

    ArduPilot Parameters

    CRUISE_SPEED      2.0
    CRUISE_THROTTLE   50.0
    FRAME_CLASS       2.0
    WP_SPEED          2.0

  </description>
</model>
