
<?xml version='1.0'?>
<model>
  <name>waves_calm</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Alberto Quattrini Li</name>
    <email>alberto.quattrini.li@dartmouth.edu</email>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    Surface waves
  </description>
</model>

